<!DOCTYPE html> <!-- tell the programm that the doctument type is html -->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Home</title>
        {% else %}
        <title>Welome To Travel Agency</title>
        {% endif %}
    </head>
    <body>
        <div>Travel Agency  <!-- start of the naviagtion bar -->
            <a href="{{url_for('home')}}">Home</a>    <!-- creates a link to the home page of the website -->
            <a href="{{url_for('season')}}">Season</a> <!-- creates a link to the home page of the website -->
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>