{% extends "base.html" %} <!-- links to the foundation base.html -->

{% block content %}    
    <body class="bg-light">
        {% if season == 'spring' %}
            <div id="springGetaway">
                <header>
                    <h1>Spring Getaway</h1>
                    <a href="{{ url_for('home') }}" class="btn btn-primary">Back To Home</a>
                </header>
            </div>

        {% elif season == 'summer' %}
            <div id="summerGateway">
                <header>
                    <h1>Summer Getaway</h1>
                    <a href="{{ url_for('home') }}" class="btn btn-primary">Back To Home</a>
                </header>
            </div>

        {% elif season == 'autumn' %}
            <div id="autumnGateway">
                <header>
                    <h1>Autumn Getaway</h1>
                    <a href="{{ url_for('home') }}" class="btn btn-primary">Back To Home</a>
                </header>
            </div>

        {% elif season == 'winter' %}
            <div id="winterGetaway">
                <header>
                    <h1>Winter Getaway</h1>
                    <a href="{{ url_for('home') }}" class="btn btn-primary">Back To Home</a>
                </header>
            </div>
        {% endif %}
    </body>
    <hr>
    <footer class="bg-light text-center mt-4">
        <p class="text-muted">&copy;2025 Four Seasons Travel - Built with Flask and Bootstrap 5</p>
    </footer>

{% endblock %}